<?xml version="1.0"?>
<model>
  <name>3DR Iris with D435 Intel RealSense camera</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_rs_D435.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a single forward facing depth camera.
    The original model has been created by Thomas Gubler and is maintained by Lorenz Meier.
    This config file was copied from from the iris_depth_camera model. 
  </description>
</model>
